DATABASE_URL=postgres://user:password@localhost:5432/database-name
JWT_SECRET="my-super-secret"
FRONTEND_URL=http://localhost:3000
TEST_DATABASE_URL=postgres://user:password@localhost:5432/database-name-test
