* @HadsonRamalho

/src-back/migrations/      @HadsonRamalho
/src-back/src/schema.rs    @HadsonRamalho
/.github/workflows/        @HadsonRamalho
/.github/CODEOWNERS        @HadsonRamalho
/docs/                     @HadsonRamalho
